.teams-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.admin-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 15px;
  color:white;
  margin-left:15px;
  font-size: 12px;
}

.admin-filter button {
  margin-right: 15px;
  background-color: #ce3535;
  width:100px;
  height:30px;
  /*border-bottom: #ce3535;
  border-width: 0px;
*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px solid #CE3535;
}
